/node_modules
/app/Http/Controllers/*.json
/public/hot
/public/storage
/resources/assets/sde
/resources/assets/sde.zip
/storage/*.key
/storage/logs
/vendor/*
!/vendor/php-client-generated.zip
!/vendor/php-client
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
