<div class="center-content">
  <mat-card class="login-form">
    <mat-card-title>
      Log In
    </mat-card-title>
    <form>
      <mat-form-field>
        <input matInput placeholder="Email" type="email" />
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" />
      </mat-form-field>
      <br>
      <button mat-raised-button type="submit" color="primary" style="margin-bottom: 8px;">
        Log In
      </button>
      <br>
      <div style="display: flex; align-items: center; justify-content: space-around;">
        <a href="#">
          <mat-card-subtitle>Register</mat-card-subtitle>
        </a>
        <a href="#">
          <mat-card-subtitle>Forgot Password</mat-card-subtitle>
        </a>
      </div>
    </form>

  </mat-card>
</div>