<mat-card class="form-card" style="display: flex;">
    <img src="{{character?.portrait}}" />
    <div style="padding: 0px 16px;">
        <mat-card-title>{{character?.name}}</mat-card-title>            
        <mat-card-content>
            ID: {{character?.id}}
            <br>
            Expires: {{character?.expiresOn?.toLocaleDateString()}}
            <br>
            Solar System: {{character?.location?.solar_system_name}}
            <br>
            <div *ngIf="character?.location?.station_id">
                Station ID: {{character?.location?.station_id || 'None'}}
            </div>
            <div *ngIf="character?.location?.structure_name">
                Structure: {{character?.location?.structure_name || 'None'}}
            </div>
        </mat-card-content>
    </div>
</mat-card>
